<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>

  
  {% if username %}
  <p>{{username}} you have registered successfully. Kindly loged in </p> 
  {% endif %}
  {% if error %}
  <p style='color:red'>{{ error }}</p>
  {% endif %}
  
  <h1>Welcome to Login Page</h1>
  
  <form action="{{ url_for('perform_login') }}" method="post">
    <label for="email">Email:</label>
    <input type = 'email' name = 'email' id = 'email'> <br><br>  
    <label for = 'password'> Password: </label> 
    <input type = 'password' name = 'password' id = 'password'> <br><br>
    <input type = 'submit' value = 'login'>

    
</form>

  <p>Don't have an account? <a href="/">Register Here</a></p>
</body>
</html>