<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>
</head>
<body>
<h1>Welcome to HomePage Register here, if you dont have a account</h1><br>
  <p>{{ error }}</p>
  <form action="/perform_registration" method = 'post'>

    <label for="email"> Email: </label>
    <input type="email" id = "email_id" name = "emailaddress"> <br><br>
    
    <label for="username">Username:</label>
    <input type="text" id="username" name="username"><br> <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password"><br> <br>
    <label for="confirmpassword">Confirm Password:</label>
    <input type="password" id = "confirmpassword" name="confirmpassword"><br> <br>
    <input type="submit" value="Register">
  </form>

  <p>Already a member? <span><a href="login">Login here</a></span></p>
  
</body>
</html>